@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */

body {
  @apply font-sans text-gray-100 bg-gray-950;
}

/* Premium Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
.markdown-content ul {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.markdown-content li {
  margin: 0;
}

.markdown-content p {
  margin: 0;
}